body {
  background-color: $veryLightPurple;
}

.main {
  background-color: $veryLightPurpleX;
  width: 70%;
  outline: .2rem solid $purple;
  margin-top: 5rem;
  padding: 2rem 4rem;
  border-radius: 40px;
}