body {
  background-color: $veryLightPurple;
}

.main {
  background-color: $veryLightPurpleX;
  width: 80%;
  outline: .2rem solid $purple;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 2rem 4rem;
  border-radius: 20px;
  box-shadow: -50px 50px 50px -30px #BDC3C7, 50px 50px 50px -30px #BDC3C7;

}