// Utilities and helper classes

// flexbox
.flex {
  display: flex;
}

.fd-c {
  flex-direction: column;
}

.ai-c {
  align-items: center;
}

.ai-fe {
  align-items: flex-end;
}

.jc-c {
  justify-content: center;
}

.jc-sb {
  justify-content: space-between;
}

.jc-sa {
  justify-content: space-around;
}

.jc-fe {
  justify-content: flex-end;
}

.content-center {
  justify-content: center;
  align-items: center;
}

// cursor
.cp {
  cursor: pointer;
}

// positioning
.mt-4 {
  margin-top: 4rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.h100 {
  height: 100%;
}